/* ============================= */
/* ===== Custom properties ===== */
/* ============================= */

:root {
    --color-fg: #000;
    --color-bg: #fff;
    --color-code-bg: #ffeff0;

    --padding: 2rem;
    --padding-code-block: 1rem;
    --margin: 2rem;
    
    --gap-page: 3rem;
    --gap-columns-pc: 5rem;
    --gap-columns-mobile: 2.5rem;
    --gap-text: 1rem;
    
    --size-navbar: 5svh;
    --size-page: calc(100svh - var(--size-navbar));
}

/* ==================== */
/* ===== Defaults ===== */
/* ==================== */

* {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
}

/* =========================== */
/* ===== Base Components ===== */
/* =========================== */

body {
    color: var(--color-fg);
    background: var(--color-bg);
}

code {
    font-family: monospace;
    font-size: inherit;
    background: var(--color-code-bg);
    word-wrap: break-word;
}

pre code {
    box-decoration-break: clone;
    padding: var(--padding-code-block);
    border-radius: .5rem;
    display: flex;
}

/* =========================== */
/* ===== General Purpose ===== */
/* =========================== */

.column-view {
    display: flex;
    gap: var(--gap-columns-pc);
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: var(--gap-text);
}

/* =================== */
/* ===== Nav Bar ===== */
/* =================== */

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    border-bottom: 1px solid var(--color-fg);
    height: var(--size-navbar);
    position: sticky;
    top: 0;
}

.navbar__links {
    display: flex;
    gap: var(--gap-text);
}

/* ==================== */
/* ===== Overview ===== */
/* ==================== */

.overview {
    display: flex;
    flex-direction: column;
    height: var(--size-page);
    padding: var(--padding);
    border-bottom: 1px solid var(--color-fg);
    gap: var(--gap-page);
}

.overview__img {
    display: block;
    max-width: 100%;
    object-fit: contain;
    flex: 0 1 auto;
}

.overview__text {
    flex: 1 1 0;
}

/* ======================= */
/* ===== Concurrency ===== */
/* ======================= */

.concurrency {
    display: flex;
    flex-direction: column;
    height: var(--size-page);
    padding: var(--padding);
    border-bottom: 1px solid var(--color-fg);
    gap: var(--gap-page);
}

.concurrency__img {
    display: block;
    max-width: 100%;
    object-fit: contain;
    flex: 0 1 auto;
}

.concurrency__text {
    flex: 1 1 0;
}

/* ====================== */
/* ===== Responsive ===== */
/* ====================== */

@media (max-width: 800px) {
    .overview, .concurrency {
        height: auto;
        min-height: var(--size-page);
    }
    
    .column-view {
        flex-wrap: wrap;
        gap: var(--gap-columns-mobile);
    }

    .overview__img,
    .concurrency__img {
        width: 100%;
    }
}