@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-display: swap;
    src: url('inter_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-display: swap;
    src: url('jetbrains_mono_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-display: swap;
    src: url('space_grotesk_bold.woff2') format('woff2');
}
